<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | My App</title>
  <link rel="stylesheet" href="/assets/signin.css">
</head>
<body>
  <header>
    <h1><%= header %></h1>
  </header>

  <main>
    <%- body %>
  </main>
</body>
</html>
